.ExplorePage {
    padding-bottom: 30px;
    @media(max-width: 700px) {
        padding-top: 135px;
    }
    &__postGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        @media(max-width: 700px) {
            gap: 1px;
        }
    }
}